* { padding: 0; margin: 0; }

.x-body{font-size: 14px;}

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
}
#wrapper { 
 margin: 0 auto;
 width: 922px;
 height: 100%;
}
#header {
 width: 900px;
 color: #333;
 padding: 10px;
 border: 1px dashed #ccc;
 height: 70px;
 margin: 10px 0px 0px 0px;
 background: white;
}
#navigation {
 width: 900px;
 color: #333;
 padding: 10px;
 border: 1px solid #ccc;
 margin: 0px 0px 0px 0px;
 background: #DAC8BF;
}
#content { 
 width: 900px;
 color: #333;
 border: 1px solid #ccc;
 background: white;;
 margin: 0px 0px 10px 0px;
 padding: 10px;
 height: 330px;
}

#user{
	height: 50px; 
	border: 0px solid #c0c0c0;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}
#user label{
	font-size: 20px; height: 35px; color: #808080; 
	 position: relative; top: -15px;}
#user input{
	font-size: 15px; height: 20px; background-color: #d0d0d0; 
	 position: relative; top: -15px;
	 margin-left: 20px; margin-right: 20px;}
#user .user-submit{background-color: transparent; height: 38px; margin-bottom: -10px;}	 	 

#user .user-div{height: 50px;}

#footer{
	background-color: #c0c0c0;
    padding: 0;
    /*height: 30px;
    padding-top: 20px; padding-bottom: 10px;*/
}

#footer span{color: #505050; font-style: italic}

div#logo_cliente[id] {
	width: 200px;
	float: left;
	height: 130px;
	overflow: hidden;
	position: relative;
	display: table; position: static;	
}
div#logo_cliente {height: 130px; overflow: hidden; position: relative;}

#logo_apra_nero {
    height: 50px;
    margin: 0;
    padding: 0;
}
table.footerApra a {
    color: white;
    text-decoration: none;
}

div#logo_cliente img{
	height: 55px;
/*	position: relative; 
	top: -50%;
*/	
}
/*
div#logo_portale {
	display: inline-block;
	float: left;
	text-align: right;	
	width: 700px;
}
*/
span#logo_portale img{
	height: 55px;
	-moz-box-sizing: inherit;
	float: right;
}

body.home #content {
	background-image: url("../images/home_bg2.png");
	}
body.home #navigation {display: none;}
body.home #content {display: table; position: static;}

#home-menu{text-align: center; list-style: none;}
#home-menu .button-link {width: 230px; margin-top: 10px;}

#middle {position: absolute; top: 50%;} /* for quirk explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%; position: static;}
.inner {position: relative; top: 50%;}



a.button-link.b2:hover {
	background: black;
	font-weight: bold;
	}
a.button-link {
	text-decoration: none;
    padding: 1px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);*/
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    
}
a.b2{padding: 9px 15px; display: inline-block;}

a.b2[f-section=sped] {
	background: #009977; font-weight: bold;
	}
a.b2[f-section=utility] {
	background: #99BADD; font-weight: bold;
	}
a.b2[f-section=std] {
	background: #CCC693;
	}	
	
.x-panel.acs_toolbar .x-panel-body{
	background-repeat: no-repeat;
	background-size:100% 100%;
    background-image: url("../images/sfondo_toolbar.jpg") !important;
}