/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
}
#header {
 color: #333;
 padding: 10px;
 border: 1px solid #ccc;
 height: 85px;
 margin: 0px 0px 0px 0px;
 background: white;
}
#navigation {
 color: #333;
 padding: 10px;
 border: 1px solid #ccc;
 margin: 0px 0px 0px 0px;
 background: #DAC8BF;
}
#content { 
 color: #333;
 /* border: 1px solid #ccc; */
 /* background: #F2F2E6; */
 margin: 0px 0px 10px 0px;
 padding: 10px;
 /* height: 350px; */
}

div#logo_apra {
	width: 200px;
	float: left;
	overflow: hidden;
	position: relative;
	display: table; position: static;	
}

div#logo_apra img{
	width: 170px;
	position: relative; top: -50%	
}
div#logo_portale {
	display: inline-block;
	float: right;
	text-align: center;	
}
div#logo_portale img{
	height: 90px;
}



body.home #content {
	background-image: url("../images/home_bg2.png");
	}

body.home #navigation {display: none;}
body.home #content {display: table; position: static;}

#home-menu{text-align: center; list-style: none;}
#home-menu .button-link {width: 200px; margin-top: 10px;}


#middle[id] {display: table-cell; vertical-align: middle; width: 100%; position: static;}
.inner {position: relative; top: -50%;}

a.button-link {
	text-decoration: none;
    padding: 1px 15px;
    background: #4479BA;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);    
}
a.b2{padding: 5px 15px; display: inline-block;}


table.tabulato{
	width: 100%;
	border-collapse: collapse;
}
table.tabulato th, table.tabulato td{
	border: 1px solid gray;
	text-align: left;
}


.n{text-align: right;}
tr.tier1 th{background-color: #AFBCDB;}
tr.tier2 th{background-color: #D1CEDD;}
tr.tier3 th{font-weight: normal;}

.f-n{font-weight: normal;}


div.wp1{
    float: left;
    margin-bottom: 10px;
    width: 100%;}
div.wp2{
    float: left;
    width: 100%;}
div.ly-sd-lf {
   border-right: 1px solid gray;   
   width: 200px;  
   float: left;
   padding-bottom: 20px;
   min-height: 500px;
   }
div.ly-main { 
   width: 100%;
   margin-right: -100%;
   float: left;
}

table.tw{width: 80%;}

tr.ev:hover{background-color: #DAC8BF; color: blue;}

table.tab {border-collapse: collapse;}
table.tab tr td, table.tab tr th{border-top: 1px solid gray; border-bottom: 1px solid gray;} 
