/* FASCETTA */
span.st-aggiornamento{font-size: 9px;}
span.st-aggiornamento-warning{color: red;}
img.st-aggiornamento{margin-bottom: -5px;}
div#stato-aggiornamento{margin-bottom: -15px; display: inline-block; position: relative; top: -7px;}

.page-header-fascetta td{padding: 1px;
	border: 1px dotted #c0c0c0;
	font-weight: bold;
	background-color: #d0d0d0;
	color: white;}

/* se volessi personalizzare le fascette per modulo
.page-header-fascetta.DESK_VEND td{background-color: #d0d0d0; color: white;}
.page-header-fascetta.DESK_ACQ td{background-color: #d0d0d0; color: white;}
*/


.gridCellImgRight{display: inline-block; height: 0px; float: right; position: relative; top: -20px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.gridCellImgRight{top: 0px;}
}

.page-header-fascetta span.txt{margin-top: 5px;}
.fascetta-toolbar img{padding-right: 7px;}


div#page-header {background-color: #FFFFFF;}


.x-grid-row.liv_totale .x-grid-cell{background-color: #F4EDAF; border: 1px solid white;}

@font-face {
  font-family: 'Code128';
  src:  url('../images/code128.woff') format('woff');
}


/* RIGHE/CELLE GRID */

.x-action-col-cell.add_action_spaces .x-grid-cell-inner img{margin-right: 8px;}

/* TODO: aggiungere anche liv_1 e liv_4.... verificare che il tutto funzioni!!!! */
.x-grid-row.liv_0_2 .x-grid-cell{background-color: #98abba; border: 1px solid white;}
.x-grid-row.liv_1 .x-grid-cell{background-color: #AFBCDB; border: 1px solid white;}
.x-grid-row.liv_2 .x-grid-cell{background-color: #D1CEDD; border: 1px solid white;}
.x-grid-row.liv_3 .x-grid-cell{background-color: #DDDDDD; border: 1px solid white;}
.x-grid-row.liv_4 .x-grid-cell{background-color: #EBEBEB; border: 1px solid white;}

.x-grid-row .x-grid-cell.grassetto{font-weight: bold;}
.x-grid-row .x-grid-cell.barrato{text-decoration: line-through;}
.x-grid-row .x-grid-cell.sfondo_rosso{background-color: #F9BFC1;}
.x-grid-row .x-grid-cell.sfondo_giallo{background-color: #F4E287;}
.x-grid-row .x-grid-cell.sfondo_verde{background-color: #A0DB8E;}
.x-grid-row .x-grid-cell.sfondo_verde_rilascio{background-color: #A0DB8E; font-weight: normal;}
.x-grid-row .x-grid-cell.sfondo_grigio{background-color: #dedede;}
.x-grid-row .x-grid-cell.sfondo_arancione{background-color: #fed79c;}
.x-grid-row .x-grid-cell.sfondo_grigio_scuro{background-color: #AbAbAb;}
.x-grid-row .x-grid-cell.sfondo_viola{background-color: #dbb7ff;}
.x-grid-row .x-grid-cell.acs_selected{background-color: red;}

.x-grid-row.grassetto .x-grid-cell{font-weight: bold;}
.x-grid-row.barrato .x-grid-cell{text-decoration: line-through;}

tr.colora_riga_rosso td.x-grid-cell{background-color: #F9BFC1;}
tr.colora_riga_giallo td.x-grid-cell{background-color: #F4E287;}
tr.colora_riga_viola td.x-grid-cell{background-color: #A7A4E0;}
tr.colora_riga_grigio td.x-grid-cell{background-color: #dedede;}
tr.colora_riga_azzurro td.x-grid-cell{background-color: #E6E6FA;}
tr.colora_riga_verde td.x-grid-cell{background-color: #A0DB8E;}

tr.segnala_riga_rosso td.x-grid-cell{background-color: #F9BFC1; font-weight: bold;}
tr.segnala_riga_giallo td.x-grid-cell{background-color: #F4E287; font-weight: bold;}
tr.segnala_riga_viola td.x-grid-cell{background-color: #A7A4E0; font-weight: bold;}
tr.segnala_riga_grigio td.x-grid-cell{background-color: #dedede; font-weight: bold;}
tr.segnala_riga_grigio_nb td.x-grid-cell{background-color: #dedede;}
tr.segnala_riga_verde td.x-grid-cell{background-color: #A0DB8E; font-weight: bold;}
tr.segnala_riga_disabled td.x-grid-cell{color: #c0c0c0;}

tr.segnala_riga_pari td.x-grid-cell{background-color: #EEEEEE; border: 1px solid white;}
.x-grid-row .x-grid-cell.sfondo_cl1{background-color: #EEEEEE; border: 1px solid white;}
.x-grid-row .x-grid-cell.sfondo_cl2{background-color: #DDDDDD; border: 1px solid white;}
.x-grid-row .x-grid-cell.sfondo_cl3{background-color: #D1CEDD; border: 1px solid white;}


/* in assegna spedizioni le righe rosse/gialle non in grassetto */
div#grid-el-scelta-spedizioni-body tr.segnala_riga_rosso td.x-grid-cell{font-weight: normal;}
div#grid-el-scelta-spedizioni-body tr.segnala_riga_giallo td.x-grid-cell{font-weight: normal;}
div#grid-el-scelta-spedizioni-body tr.segnala_riga_viola td.x-grid-cell{font-weight: normal;}

div#grid-el-scelta-spedizioni-body tr.segnala_riga_rosso td.x-grid-cell.grassetto{font-weight: bold;}
div#grid-el-scelta-spedizioni-body tr.segnala_riga_giallo td.x-grid-cell.grassetto{font-weight: bold;}
div#grid-el-scelta-spedizioni-body tr.segnala_riga_viola td.x-grid-cell.grassetto{font-weight: bold;}


/* colore cella tipoOrdine */
.x-grid-cell.tipoOrd.A {background-color: white;}   /* assistenze */
.x-grid-cell.tipoOrd.A.toDoListTp {background-color: dddddd;}   /* assistenze in ToDoList  */
.x-grid-cell.tipoOrd.M {background-color: #93C6E0;} /* mostre */
.x-grid-cell.tipoOrd.O {background-color: #A0DB8E;} /* ordini */
.x-grid-cell.tipoOrd.P {background-color: #E2D67C;} /* composizioni promozionali */
.x-grid-cell.tipoOrd.C {background-color: #D3BFB7;}  /* cccc */
.x-grid-cell.tipoOrd.V {background-color: #D3BFB7;}  /* materiale promozionale */
.x-grid-cell.tipoOrd.T {background-color: #ffbe7d;}  /* ORDINE TEST */ 


.grassetto{font-weight: bold;}
}

.x-action-col-cell img.icona-disabled {
	background-image: url('../images/icone/16x16/button_red_play.png') !important;	
}

.x-action-col-cell img.icona-enabled {
	background-image: url("../images/icone/16x16/button_yellow_play.png") !important;	
	
}
/*acs_portal_sara/images/icone/16x16/button_yellow_play.png     su firebug funziona questo percorso*/


/* GENERICHE PER EXTJS */
.x-grid-cell.no-auto-height .x-grid-cell-inner {white-space: nowrap;}
.x-grid-cell.auto-height .x-grid-cell-inner {white-space: normal;}
.x-grid-cell.white-space-pre .x-grid-cell-inner {white-space: pre;}
.x-grid-cell.font-monospace .x-grid-cell-inner {font-family: "Lucida Console", Monaco, monospace; font-size: 1.1em;}

input.white-space-pre {white-space: pre;}
input.font-monospace {font-family: "Lucida Console", Monaco, monospace; font-size: 1.0em;}
.x-grid-editor input.white-space-pre {white-space: pre;}
.x-grid-editor input.font-monospace {font-family: "Lucida Console", Monaco, monospace; font-size: 1.0em;}

/* Error BOX */
.x-message-box.acs_error td.x-form-item-body{text-align: center;}
.x-message-box.acs_error td.x-form-item-body .x-form-display-field{font-weight: bold;}
.x-message-box.acs_error td.x-form-item-body span.sub{font-size: 0.9em; font-weight: normal;}


/* RIGA SOMMA TOTALI */
.x-grid-row-summary {
    background-color: DCDCDC;
		font-size: 11;
		font-weight: bold;
}


/* SFONDO SUPPLY DESK */
.x-panel.supply_desk .x-panel-body{
	background-repeat: no-repeat;
	background-size: 250px;
    background-image: url("../images/supply_desk.png") !important;
	background-position: right bottom;    
}
#m-panel.x-panel.supply_desk_main_panel #m-panel-body.x-panel-body{
	background-repeat: no-repeat;
	background-size: 250px;
    background-image: url("../images/supply_desk.png") !important;
	background-position: right bottom;    
}


/* titolo panel su sfondo giallo o verde */
.x-panel.acs-light > .x-panel-header.x-panel-header-default { 
 background-image: -moz-linear-gradient(center top , #F4EDAF, #F4EDAF 45%, #F4EDAF 46%, #F4EDAF 50%, #F4EDAF 51%, #F4EDAF); 
 background-image: -webkit-linear-gradient(top,#F4EDAF,#F4EDAF 45%,#F4EDAF 46%,#F4EDAF 50%,#F4EDAF 51%,#F4EDAF);
 }
 
/* titolo panel su sfondo giallo o verde */
.x-panel.acs-light > .x-panel-header.x-panel-header-default-framed { 
 background-image: -moz-linear-gradient(center top , #F4EDAF, #F4EDAF 45%, #F4EDAF 46%, #F4EDAF 50%, #F4EDAF 51%, #F4EDAF); 
 background-image: -webkit-linear-gradient(top,#F4EDAF,#F4EDAF 45%,#F4EDAF 46%,#F4EDAF 50%,#F4EDAF 51%,#F4EDAF);
 } 
 
.x-panel.acs-light_rx .x-panel-header.x-panel-header-default { 
 background-image: -moz-linear-gradient(center top , #AADD96, #AADD96 45%, #AADD96 46%, #AADD96 50%, #AADD96 51%, #AADD96);
 background-image: -webkit-linear-gradient(top,#AADD96,#AADD96 45%,#AADD96 46%,#AADD96 50%,#AADD96 51%,#AADD96); 
 } 
 
 
 
 /* sfondo tricolore */
 .x-panel.acs_toolbar .x-panel-body{
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-image: url("../images/sfondo_toolbar.jpg") ! important;    
}
