.iconSpedizione {background-image: url("../images/icone/16x16/spedizione.png") !important;}
.iconFabbrica {background-image: url("../images/icone/16x16/fabbrica.png") !important;}
.iconPartenze {background-image: url("../images/icone/16x16/partenze.png") !important;}
.iconPrint {background-image: url("../images/icone/16x16/print.png") !important;}
.iconGlobe {background-image: url("../images/icone/16x16/globe.png") !important;}
.iconCarico {background-image: url("../images/icone/16x16/carico.png") !important;}
.iconScaricoIntermedio {background-image: url("../images/icone/16x16/exchange.png") !important;}
.iconDestinazioneFinale {background-image: url("../images/icone/16x16/home.png") !important;}
.iconPuzzle {background-image: url("../images/icone/16x16/puzzle.png") !important;}
.iconRefresh {background-image: url("../images/icone/16x16/rss_blue.png") !important;}
.iconArtCritici {background-image: url("../images/icone/16x16/arrivi.png") !important;}
.iconAccept {background-image: url("../images/icone/16x16/sub_blue_accept.png") !important;}
.iconRIPRO {background-image: url("../images/icone/16x16/button_black_repeat_dx.png") !important;}
.iconScarichiRidondanti {background-image: url("../images/icone/16x16/warning_red.png") !important;}
.iconDelivery {background-image: url("../images/icone/16x16/delivery.png") !important;}
.iconBox {background-image: url("../images/icone/16x16/box_open.png") !important;}
.iconClienti {background-image: url("../images/icone/16x16/clienti.png") !important;}
.iconClientiBlue {background-image: url("../images/icone/16x16/clienti_blue.png") !important;}
.iconInfoGray {background-image: url("../images/icone/16x16/info_gray.png") !important;}
.iconDelete {background-image: url("../images/icone/16x16/sub_red_delete.png") !important;}

.iconCommGray {background-image: url("../images/icone/16x16/comment_light.png") !important;}
.iconCommYellow {background-image: url("../images/icone/16x16/comment_edit_yellow.png") !important;}

.iconNoIcon {
	display : none;
	background-image:url('ext/resources/images/default/s.gif') !important;
 }

.iconBlocco {background-image: url("../images/icone/16x16/divieto.png") !important;}
.iconConf {background-repeat: no-repeat;
    background-image: url("../images/icone/16x16/puntina_rossa.png") !important;
}
.iconEvaso {
	background-repeat: no-repeat;
    background-image: url("../images/icone/16x16/lock.png") !important;
}
.iconEvasoParz {
	background-repeat: no-repeat;
    background-image: url("../images/icone/16x16/lock_grey.png") !important;
}

.iconNonProgrammabile {
	background-repeat: no-repeat;
    background-image: url("../images/icone/16x16/button_blue_pause.png") !important;
}

.iconMicphone {
	background-repeat: no-repeat;
    background-image: url("../images/icone/16x16/micphone.png") !important;
}

.carico-folder-SP {
	background-repeat: no-repeat;
    background-image: url("../images/icone/16x16/carico_spedito.png") !important;
}
.carico-folder-CO {
	background-repeat: no-repeat;
    background-image: url("../images/icone/16x16/carico_controllato.png") !important;
}
.carico-folder-LT {
	background-repeat: no-repeat;
    background-image: url("../images/icone/16x16/button_black_play.png") !important;
}








.add {
    background-image: url( ../images/toolbars/add.gif ) !important;
}
.add16 {
    background-image: url( ../images/toolbars/add16.gif ) !important;
}
.add24 {
    background-image: url( ../images/toolbars/add24.gif ) !important;
}
.remove {
    background-image: url( ../images/toolbars/delete.gif ) !important;
}
.edit {
    background-image: url( ../images/toolbars/edit.gif ) !important;
}
.find {
    background-image: url( ../images/toolbars/find.gif ) !important;
}
.view {
    background-image: url( ../images/toolbars/view.gif ) !important;
}
.money-up {
    background-image: url( ../images/toolbars/money_add.png ) !important;
}
.money-down {
    background-image: url( ../images/toolbars/money_delete.png ) !important;
}


/*
 * TOOLBAR
 */
.icon-fabbrica-32 {background-image: url("../images/icone/32x32/fabbrica.png") !important;}
.icon-folder_add-32 {background-image: url("../images/icone/32x32/folder_add.png") !important;}
.icon-folder_block-32 {background-image: url("../images/icone/32x32/folder_block.png") !important;}
.icon-folder_block-16 {background-image: url("../images/icone/16x16/folder_block.png") !important;}
.icon-user_group-32 {background-image: url("../images/icone/32x32/user_group.png") !important;}
.icon-user_group-16 {background-image: url("../images/icone/16x16/user_group.png") !important;}
.icon-user_only-16 {background-image: url("../images/icone/16x16/user.png") !important;}
.icon-user_only-32 {background-image: url("../images/icone/32x32/user.png") !important;}
.icon-folder_grey-16 {background-image: url("../images/icone/16x16/folder_grey.png") !important;}
.icon-delivery-32 {background-image: url("../images/icone/32x32/delivery.png") !important;}
.icon-delivery-16 {background-image: url("../images/icone/16x16/delivery.png") !important;}
.icon-sticker_blue-16 {background-image: url("../images/icone/16x16/sticker_blue.png") !important;}
.icon-box_open-32 {background-image: url("../images/icone/32x32/box_open.png") !important;}
.icon-box_open-16 {background-image: url("../images/icone/16x16/box_open.png") !important;}
.icon-sticker_black-32 {background-image: url("../images/icone/32x32/sticker_black.png") !important;}
.icon-sticker_black-16 {background-image: url("../images/icone/16x16/sticker_black.png") !important;}
.icon-globe-32 {background-image: url("../images/icone/32x32/globe.png") !important;}
.icon-globe-16 {background-image: url("../images/icone/16x16/globe.png") !important;}
.icon-database_active-32 {background-image: url("../images/icone/32x32/database_active.png") !important;}
.icon-database_active-16 {background-image: url("../images/icone/16x16/database_active.png") !important;}
.icon-gmaps_logo-32 {background-image: url("../images/icone/32x32/gmaps_logo.png") !important;}
.icon-gmaps_logo-16 {background-image: url("../images/icone/16x16/gmaps_logo.png") !important;}
.icon-pneumatico-32 {background-image: url("../images/icone/32x32/pneumatico.png") !important;}
.icon-pneumatico-16 {background-image: url("../images/icone/16x16/pneumatico.png") !important;}
.icon-cartello-32 {background-image: url("../images/icone/32x32/cartello.png") !important;}
.icon-cartello-16 {background-image: url("../images/icone/16x16/cartello.png") !important;}
.icon-recycle_bin-32 {background-image: url("../images/icone/32x32/recycle_bin.png") !important;}
.icon-recycle_bin-16 {background-image: url("../images/icone/16x16/recycle_bin.png") !important;}	
.icon-compass-32 {background-image: url("../images/icone/32x32/compass.png") !important;}
.icon-compass-24 {background-image: url("../images/icone/24x24/compass.png") !important;}
.icon-compass-16 {background-image: url("../images/icone/16x16/compass.png") !important;}
.icon-address_book-32 {background-image: url("../images/icone/32x32/address_book.png") !important;}
.icon-address_book-16 {background-image: url("../images/icone/16x16/address_book.png") !important;}
.icon-address_blue-32 {background-image: url("../images/icone/32x32/address_book.png") !important;}
.icon-address_blue-16 {background-image: url("../images/icone/16x16/address_book.png") !important;}
.icon-address_black-32 {background-image: url("../images/icone/32x32/address_black.png") !important;}
.icon-address_black-24 {background-image: url("../images/icone/24x24/address_black.png") !important;}
.icon-address_black-16 {background-image: url("../images/icone/16x16/address_black.png") !important;}
.icon-tag-32 {background-image: url("../images/icone/32x32/tag.png") !important;}
.icon-tag-16 {background-image: url("../images/icone/16x16/tag.png") !important;}
.icon-tag_grey-16 {background-image: url("../images/icone/16x16/tag_grey.png") !important;}
.icon-tag_green-16 {background-image: url("../images/icone/16x16/tag_green.png") !important;}
.icon-gear-32 {background-image: url("../images/icone/32x32/gear.png") !important;}
.icon-gear-16 {background-image: url("../images/icone/16x16/gear.png") !important;}
.icon-shopping_cart-32 {background-image: url("../images/icone/32x32/shopping_cart.png") !important;}
.icon-shopping_cart-16 {background-image: url("../images/icone/16x16/shopping_cart.png") !important;}
.icon-briefcase-32 {background-image: url("../images/icone/32x32/briefcase.png") !important;}
.icon-briefcase-16 {background-image: url("../images/icone/16x16/briefcase.png") !important;}
.icon-shopping_setup-32 {background-image: url("../images/icone/32x32/shopping_setup.png") !important;}
.icon-shopping_setup-16 {background-image: url("../images/icone/16x16/shopping_setup.png") !important;}
.icon-shopping_basket_2-16 {background-image: url("../images/icone/16x16/shopping_basket_2.png") !important;}
.icon-shopping_cart_gray-32 {background-image: url("../images/icone/32x32/shopping_cart_gray.png") !important;}
.icon-shopping_cart_gray-16 {background-image: url("../images/icone/16x16/shopping_cart_gray.png") !important;}
.icon-home-32 {background-image: url("../images/icone/32x32/home.png") !important;}
.icon-home-16 {background-image: url("../images/icone/16x16/home.png") !important;}
.icon-delivery_globe-32 {background-image: url("../images/icone/32x32/delivery_globe.png") !important;}
.icon-delivery_globe-16 {background-image: url("../images/icone/16x16/delivery_globe.png") !important;}
.icon-folder_search-32 {background-image: url("../images/icone/32x32/folder_search.png") !important;}
.icon-folder_search-24 {background-image: url("../images/icone/24x24/folder_search.png") !important;}
.icon-folder_search-16 {background-image: url("../images/icone/16x16/folder_search.png") !important;}
.icon-battery_half-32 {background-image: url("../images/icone/32x32/battery_half.png") !important;}
.icon-battery_half-16 {background-image: url("../images/icone/16x16/battery_half.png") !important;}
.icon-email_send-32 {background-image: url("../images/icone/32x32/email_send.png") !important;}
.icon-email_send-16 {background-image: url("../images/icone/16x16/email_send.png") !important;}
.icon-sub_blue_accept-32 {background-image: url("../images/icone/32x32/sub_blue_accept.png") !important;}
.icon-sub_blue_accept-16 {background-image: url("../images/icone/16x16/sub_blue_accept.png") !important;}
.icon-divieto-16 {background-image: url("../images/icone/16x16/divieto.png") !important;}
.icon-check_green-16 {background-image: url("../images/icone/16x16/check_green.png") !important;}
.icon-check_green-32 {background-image: url("../images/icone/32x32/check_green.png") !important;}
.icon-sub_black_accept-32 {background-image: url("../images/icone/32x32/sub_black_accept.png") !important;}
.icon-sub_black_accept-16 {background-image: url("../images/icone/16x16/sub_black_accept.png") !important;}
.icon-sub_blue_add-32 {background-image: url("../images/icone/32x32/sub_blue_add.png") !important;}
.icon-button_blue_repeat-32 {background-image: url("../images/icone/32x32/button_blue_repeat.png") !important;}
.icon-sub_black_add-32 {background-image: url("../images/icone/32x32/sub_black_add.png") !important;}
.icon-sub_black_next-32 {background-image: url("../images/icone/32x32/sub_black_next.png") !important;}
.icon-sub_grey_add-32 {background-image: url("../images/icone/32x32/sub_grey_add.png") !important;}
.icon-sub_blue_add-16 {background-image: url("../images/icone/16x16/sub_blue_add.png") !important;}
.icon-unlock-32 {background-image: url("../images/icone/32x32/unlock.png") !important;}
.icon-unlock-16 {background-image: url("../images/icone/16x16/unlock.png") !important;}
.icon-lock-32 {background-image: url("../images/icone/32x32/lock.png") !important;}
.icon-lock-16 {background-image: url("../images/icone/16x16/lock.png") !important;}
.icon-lock_grey-32 {background-image: url("../images/icone/32x32/lock_grey.png") !important;}
.icon-lock_grey-16 {background-image: url("../images/icone/16x16/lock_grey.png") !important;}
.icon-info_blue-32 {background-image: url("../images/icone/32x32/info_blue.png") !important;}
.icon-info_blue-16 {background-image: url("../images/icone/16x16/info_blue.png") !important;}
.icon-blog_compose-32 {background-image: url("../images/icone/32x32/blog_compose.png") !important;}
.icon-blog_compose-16 {background-image: url("../images/icone/16x16/blog_compose.png") !important;}
.icon-blog_add-32 {background-image: url("../images/icone/32x32/blog_add.png") !important;}
.icon-blog_add-16 {background-image: url("../images/icone/16x16/blog_add.png") !important;}
.icon-blog-32 {background-image: url("../images/icone/32x32/blog.png") !important;}
.icon-blog-16 {background-image: url("../images/icone/16x16/blog.png") !important;}
.icon-clcok-32 {background-image: url("../images/icone/32x32/clock.png") !important;}
.icon-clock-16 {background-image: url("../images/icone/16x16/clock.png") !important;}
.icon-windows-32 {background-image: url("../images/icone/32x32/windows.png") !important;}
.icon-windows-16 {background-image: url("../images/icone/16x16/windows.png") !important;}
.icon-print-32 {background-image: url("../images/icone/32x32/print.png") !important;}
.icon-print-24{background-image: url("../images/icone/24x24/print.png") !important;}
.icon-print-16 {background-image: url("../images/icone/16x16/print.png") !important;}
.icon-button_blue_play-32 {background-image: url("../images/icone/32x32/button_blue_play.png") !important;}
.icon-button_blue_play-24 {background-image: url("../images/icone/24x24/button_blue_play.png") !important;}
.icon-button_blue_play-16 {background-image: url("../images/icone/16x16/button_blue_play.png") !important;}
.icon-button_black_play-32 {background-image: url("../images/icone/32x32/button_black_play.png") !important;}
.icon-button_black_play-16 {background-image: url("../images/icone/16x16/button_black_play.png") !important;}
.icon-button_grey_play-32 {background-image: url("../images/icone/32x32/button_grey_play.png") !important;}
.icon-button_grey_play-16 {background-image: url("../images/icone/16x16/button_grey_play.png") !important;}
.icon-button_red_play-32 {background-image: url("../images/icone/32x32/button_red_play.png") !important;}
.icon-button_red_play-24 {background-image: url("../images/icone/24x24/button_red_play.png") !important;}
.icon-button_red_play-16 {background-image: url("../images/icone/16x16/button_red_play.png") !important;}
.icon-button_yellow_play-32 {background-image: url("../images/icone/32x32/button_yellow_play.png") !important;}
.icon-button_yellow_play-16 {background-image: url("../images/icone/16x16/button_yellow_play.png") !important;}
.icon-button_black_repeat_dx-32 {background-image: url("../images/icone/32x32/button_black_repeat_dx.png") !important;}
.icon-button_black_repeat_dx-24 {background-image: url("../images/icone/24x24/button_black_repeat_dx.png") !important;}
.icon-button_black_repeat_dx-16 {background-image: url("../images/icone/16x16/button_black_repeat_dx.png") !important;}
.icon-blackboard-32 {background-image: url("../images/icone/32x32/blackboard.png") !important;}
.icon-blackboard-16 {background-image: url("../images/icone/16x16/blackboard.png") !important;}
.icon-grafici-32 {background-image: url("../images/icone/32x32/grafici.png") !important;}
.icon-grafici-16 {background-image: url("../images/icone/16x16/grafici.png") !important;}
.icon-receipt-32 {background-image: url("../images/icone/32x32/receipt.png") !important;}
.icon-receipt-16 {background-image: url("../images/icone/16x16/receipt.png") !important;}
.icon-credit_cards-16 {background-image: url("../images/icone/16x16/credit_cards.png") !important;}
.icon-credit_cards-32 {background-image: url("../images/icone/32x32/credit_cards.png") !important;}
.icon-button_black_repeat_dx-32 {background-image: url("../images/icone/32x32/button_black_repeat_dx.png") !important;}
.icon-currency_black_euro-32 {background-image: url("../images/icone/32x32/currency_black_euro.png") !important;}
.icon-folder_download-16 {background-image: url("../images/icone/16x16/folder_download.png") !important;}
.icon-folder_upload-16 {background-image: url("../images/icone/16x16/folder_upload.png") !important;}
.icon-currency_blue_euro-16 {background-image: url("../images/icone/16x16/currency_blue_euro.png") !important;}
.icon-currency_blue_yuan-16 {background-image: url("../images/icone/16x16/currency_blue_yuan.png") !important;}
.icon-currency_black_dollar-16 {background-image: url("../images/icone/16x16/currency_black_dollar.png") !important;}
.icon-currency_black_pound-16 {background-image: url("../images/icone/16x16/currency_black_pound.png") !important;}
.icon-button_blue_ffw-16 {background-image: url("../images/icone/16x16/button_blue_ffw.png") !important;}
.icon-block_blue-16 {background-image: url("../images/icone/16x16/block_blue.png") !important;}
.icon-gift-16 {background-image: url("../images/icone/16x16/gift.png") !important;}
.icon-gift-32 {background-image: url("../images/icone/32x32/gift.png") !important;}
.icon-bookmark-32 {background-image: url("../images/icone/32x32/bookmark.png") !important;}
.icon-bookmark-16 {background-image: url("../images/icone/16x16/bookmark.png") !important;}

.icon-bluetooth_blue-16 {background-image: url("../images/icone/16x16/bluetooth_blue.png") !important;}

.icon-tools-16 {background-image: url("../images/icone/16x16/tools.png") !important;}
.icon-email_compose-16 {background-image: url("../images/icone/16x16/email_compose.png") !important;}

.icon-exchange_black-16 {background-image: url("../images/icone/16x16/exchange_black.png") !important;}
.icon-exchange_black-32 {background-image: url("../images/icone/32x32/exchange_black.png") !important;}

.icon-partenze_grey-16 {background-image: url("../images/icone/16x16/partenze_grey.png") !important;}
.icon-help_blue-16 {background-image: url("../images/icone/16x16/help_blue.png") !important;}

.icon-cd-32 {background-image: url("../images/icone/32x32/cd.png") !important;}

.icon-add_link-16 {background-image: url("../images/icone/16x16/add_link.png") !important;}
.icon-add_link-24 {background-image: url("../images/icone/24x24/add_link.png") !important;}
.icon-add_link-32 {background-image: url("../images/icone/32x32/add_link.png") !important;}
.icon-add_link-16 {background-image: url("../images/icone/16x16/add_link.png") !important;}

.icon-link-16 {background-image: url("../images/icone/16x16/link_1.png") !important;}

.icon-comment_add-24 {background-image: url("../images/icone/24x24/comment_add.png") !important;}
.icon-comment_add-16 {background-image: url("../images/icone/16x16/comment_add.png") !important;}

.icon-bandiera_scacchi-16 {background-image: url("../images/icone/16x16/bandiera_scacchi.png") !important;}

.icon-clessidra-16 {background-image: url("../images/icone/16x16/clessidra.png") !important;}
.icon-clessidra-32 {background-image: url("../images/icone/32x32/clessidra.png") !important;}

.icon-shopping_cart_green-32 {background-image: url("../images/icone/32x32/shopping_cart_green.png") !important;}
.icon-shopping_cart_green-16 {background-image: url("../images/icone/16x16/shopping_cart_green.png") !important;}

.icon-camera-32 {background-image: url("../images/icone/32x32/camera.png") !important;}
.icon-camera-16 {background-image: url("../images/icone/16x16/camera.png") !important;}

.icon-video-32 {background-image: url("../images/icone/32x32/video.png") !important;}
.icon-video-16 {background-image: url("../images/icone/16x16/video.png") !important;}


.icon-margini-32 {background-image: url("../images/icone/32x32/margini.png") !important;}
.icon-margini-16 {background-image: url("../images/icone/16x16/margini.png") !important;}

.icon-shopping_bag-32 {background-image: url("../images/icone/32x32/shopping_bag.png") !important;}
.icon-shopping_bag-16 {background-image: url("../images/icone/16x16/shopping_bag.png") !important;}


.icon-comment_edit-32 {background-image: url("../images/icone/32x32/comment_edit.png") !important;}
.icon-comment_edit-16 {background-image: url("../images/icone/16x16/comment_edit.png") !important;}

.icon-outbox-32 {background-image: url("../images/icone/32x32/outbox.png") !important;}
.icon-outbox-16 {background-image: url("../images/icone/16x16/outbox.png") !important;}


.icon-button_blue_pause-32 {background-image: url("../images/icone/32x32/button_blue_pause.png") !important;}
.icon-button_blue_pause-16 {background-image: url("../images/icone/16x16/button_blue_pause.png") !important;}

.icon-file_download-16 {background-image: url("../images/icone/16x16/file_download.png") !important;}

.icon-pencil-32 {background-image: url("../images/icone/32x32/pencil.png") !important;}
.icon-pencil-16 {background-image: url("../images/icone/16x16/pencil.png") !important;}

.icon-mobile-32 {background-image: url("../images/icone/32x32/mobile.png") !important;}
.icon-mobile-16 {background-image: url("../images/icone/16x16/mobile.png") !important;}

.icon-label_blue_new-16 {background-image: url("../images/icone/16x16/label_blue_new.png") !important;}


.icon-F8-m-32 {background-image: url("../images/icone/32x32/button_black_rec.png") !important;}
.icon-F8-m-16 {background-image: url("../images/icone/16x16/button_black_rec.png") !important;}
.icon-F8-r-32 {background-image: url("../images/icone/32x32/button_black_play.png") !important;}
.icon-F8-r-16 {background-image: url("../images/icone/16x16/button_black_play.png") !important;}

.icon-calendar-16 {background-image: url("../images/icone/16x16/calendar.png") !important;}
.icon-calendar-24 {background-image: url("../images/icone/24x24/calendar.png") !important;}

.icon-attachment-16 {background-image: url("../images/icone/16x16/attachment.png") !important;}
.icon-attachment-32 {background-image: url("../images/icone/32x32/attachment.png") !important;}

.icon-calendar-32 {background-image: url("../images/icone/32x32/calendar.png") !important;}
.icon-globe-16 {background-image: url("../images/icone/16x16/globe.png") !important;}

.icon-refresh-32 {background-image: url("../images/icone/32x32/rss_blue.png") !important;}
.icon-refresh-16 {background-image: url("../images/icone/16x16/rss_blue.png") !important;}

.icon-rss_black-32 {background-image: url("../images/icone/32x32/rss_black.png") !important;}
.icon-rss_black-24 {background-image: url("../images/icone/24x24/rss_black.png") !important;}
.icon-rss_black-16 {background-image: url("../images/icone/16x16/rss_black.png") !important;}

.icon-search-32 {background-image: url("../images/icone/32x32/search.png") !important;}
.icon-search-16 {background-image: url("../images/icone/16x16/search.png") !important;}
.icon-copy-32 {background-image: url("../images/icone/32x32/copy.png") !important;}
.icon-copy-16 {background-image: url("../images/icone/16x16/copy.png") !important;}
.icon-paste-32 {background-image: url("../images/icone/32x32/paste.png") !important;}
.icon-paste-16 {background-image: url("../images/icone/16x16/paste.png") !important;}

.icon-warning_black-32 {background-image: url("../images/icone/32x32/warning_black.png") !important;}
.icon-warning_black-16 {background-image: url("../images/icone/16x16/warning_black.png") !important;}
.icon-warning_blue-16 {background-image: url("../images/icone/16x16/warning_blue.png") !important;}
.icon-warning_red-16 {background-image: url("../images/icone/16x16/warning_red.png") !important;}
.icon-warning_red-32 {background-image: url("../images/icone/32x32/warning_red.png") !important;}

.icon-puzzle-32 {background-image: url("../images/icone/32x32/puzzle.png") !important;}
.icon-puzzle-16 {background-image: url("../images/icone/16x16/puzzle.png") !important;}

.icon-save-32 {background-image: url("../images/icone/32x32/save.png") !important;}
.icon-save-24 {background-image: url("../images/icone/24x24/save.png") !important;}
.icon-save-16 {background-image: url("../images/icone/16x16/save.png") !important;}

.icon-news-32 {background-image: url("../images/icone/32x32/news.png") !important;}

.icon-sub_red_delete-32 {background-image: url("../images/icone/32x32/sub_red_delete.png") !important;}
.icon-sub_red_delete-24 {background-image: url("../images/icone/24x24/sub_red_delete.png") !important;}
.icon-sub_red_delete-16 {background-image: url("../images/icone/16x16/sub_red_delete.png") !important;}
.icon-folder_accept-32 {background-image: url("../images/icone/32x32/folder_accept.png") !important;}
.icon-folder_accept-16 {background-image: url("../images/icone/16x16/folder_accept.png") !important;}

.icon-inbox-32 {background-image: url("../images/icone/32x32/inbox.png") !important;}
.icon-inbox-16 {background-image: url("../images/icone/16x16/inbox.png") !important;}
.icon-filter-32 {background-image: url("../images/icone/32x32/filter.png") !important;}
.icon-filter-16 {background-image: url("../images/icone/16x16/filter.png") !important;}


.icon-clienti-32 {background-image: url("../images/icone/32x32/clienti.png") !important;}
.icon-clienti-16 {background-image: url("../images/icone/16x16/clienti.png") !important;}

.icon-design-32 {background-image: url("../images/icone/32x32/design.png") !important;}
.icon-design-16 {background-image: url("../images/icone/16x16/design.png") !important;}
.icon-blog_accept-32 {background-image: url("../images/icone/32x32/blog_accept.png") !important;}
.icon-blog_accept-16 {background-image: url("../images/icone/16x16/blog_accept.png") !important;}

.icon-divieto_green-32 {background-image: url("../images/icone/32x32/divieto_green.png") !important;}
.icon-divieto_green-16 {background-image: url("../images/icone/16x16/divieto_green.png") !important;}

.icon-arrivi-32 {background-image: url("../images/icone/32x32/arrivi.png") !important;}
.icon-arrivi-16 {background-image: url("../images/icone/16x16/arrivi.png") !important;}
.icon-arrivi_gray-32 {background-image: url("../images/icone/32x32/arrivi_gray.png") !important;}
.icon-arrivi_gray-16 {background-image: url("../images/icone/16x16/arrivi_gray.png") !important;}

.icon-help_black-32 {background-image: url("../images/icone/32x32/help_black.png") !important;}
.icon-info_black-32 {background-image: url("../images/icone/32x32/info_black.png") !important;}
.icon-info_black-16 {background-image: url("../images/icone/16x16/info_black.png") !important;}

.icon-chart_bar-32 {background-image: url("../images/icone/32x32/chart_bar.png") !important;}
.icon-chart_bar-16 {background-image: url("../images/icone/16x16/chart_bar.png") !important;}


.icon-leaf-16 {background-image: url("../images/icone/16x16/leaf.gif") !important;}

.icon-bilancio2-32 {background-image: url("../images/icone/32x32/bilancio2.png") !important;}
.icon-bilancio2-16 {background-image: url("../images/icone/16x16/bilancio2.png") !important;}
.icon-bilancio4-32 {background-image: url("../images/icone/32x32/bilancio4.png") !important;}
.icon-bilancio4-16 {background-image: url("../images/icone/16x16/bilancio4.png") !important;}


.icon-button_grey_eject-32 {background-image: url("../images/icone/32x32/button_grey_eject.png") !important;}
.icon-button_grey_eject-16 {background-image: url("../images/icone/16x16/button_grey_eject.png") !important;}

.icon-logo_cerved_q-32 {background-image: url("../images/icone/32x32/logo_cerved_q.png") !important;}
.icon-logo_cerved_q-16 {background-image: url("../images/icone/16x16/logo_cerved_q.png") !important;}
.icon-folder_open-32 {background-image: url("../images/icone/32x32/folder_open.png") !important;}
.icon-folder_open-16 {background-image: url("../images/icone/16x16/folder_open.png") !important;}
.icon-certificate-32 {background-image: url("../images/icone/32x32/certificate.png") !important;}
.icon-certificate-16 {background-image: url("../images/icone/16x16/certificate.png") !important;}
.icon-keyboard-32 {background-image: url("../images/icone/32x32/keyboard.png") !important;}
.icon-keyboard-16 {background-image: url("../images/icone/16x16/keyboard.png") !important;}


.icon-power_black-32 {background-image: url("../images/icone/32x32/power_black.png") !important;}
.icon-power_black-24 {background-image: url("../images/icone/24x24/power_black.png") !important;}
.icon-power_black-16 {background-image: url("../images/icone/16x16/power_black.png") !important;}

.icon-button_grey_first-32 {background-image: url("../images/icone/32x32/button_grey_first.png") !important;}
.icon-button_grey_last-32 {background-image: url("../images/icone/32x32/button_grey_last.png") !important;}


/*
 * TOOLBAR ADMIN
 */


.icon-user-32 {background-image: url("../images/icone/32x32/user_group.png") !important;}
.icon-user-16 {background-image: url("../images/icone/16x16/user.png") !important;}
.icon-group-32 {background-image: url("../images/icone/32x32/photo.png") !important;}
.icon-group-16 {background-image: url("../images/icone/16x16/photo.png") !important;}
.icon-module-32 {background-image: url("../images/icone/32x32/monitor.png") !important;}
.icon-module-16 {background-image: url("../images/icone/16x16/monitor.png") !important;}
.icon-button_black_repeat-32 {background-image: url("../images/icone/32x32/button_black_repeat.png") !important;}
.icon-button_black_repeat-16 {background-image: url("../images/icone/16x16/button_black_repeat.png") !important;}
.icon-game_pad-32 {background-image: url("../images/icone/32x32/game_pad.png") !important;}
.icon-game_pad-16 {background-image: url("../images/icone/16x16/game_pad.png") !important;}
.icon-sub_green_next-16 {background-image: url("../images/icone/16x16/sub_green_next.png") !important;}

.icon-user-add {
    background-image: url("../images/toolbars/user_add.gif") !important;
}
.icon-save {
    background-image: url("../images/toolbars/save.gif") !important;
}
.icon-reset {
    background-image: url("../images/toolbars/stop.png") !important;
}
.icon-grid {
    background-image: url("../images/toolbars/grid.png") !important;
}
.icon-add {
    background-image: url("../images/toolbars/add.png") !important;
}
.icon-delete {
    background-image: url("../images/toolbars/delete.png") !important;
}
.icon-listino {
    background-image: url("../images/icone/16x16/currency_black_euro.png") !important;
}

.icon-barcode {
    background-image: url("../images/icone/16x16/barcode.png") !important;
}
.icon-repeat {
    background-image: url("../images/icone/16x16/button_black_repeat.png") !important;
}


/* BOTTONI TOOLBAR */
.tbar-x-tool {background-image:url("../extjs/resources/css/../../resources/themes/images/default/tools/tool-sprites.gif") !important;}

