body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
    padding: 1em;
}
body.composite {
    margin: 0;
    padding: 0;
}
p, ul, ol, dl, table.bars {
    margin-bottom: 0.67em;
    margin-top: 0.67em;
}
#bodycol {
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
}
html > body #bodycol {
    width: auto;
}
.h2 p, .h3 p, .h4 p, .h2 dt, .h3 dt, .h4 dt {
    margin-left: 7px;
    margin-right: 7px;
}
#login {
    color: #F0F0F0;
}
img {
    border: medium none;
}
#poweredby {
    background: url("../images/poweredby.gif") no-repeat scroll 0 0 transparent;
    border-bottom: medium none;
    display: block;
    float: left;
    height: 38px;
    margin: 0 58px 0 0;
    width: 102px;
}
#ee, #cn {
    border: medium none;
}
div#collabnet {
    background: url("../images/cnheader-background.gif") repeat-x scroll center top #223344;
    color: #FFFFFF;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-top: 6px;
}
.tabset {
    background-color: #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.tabset .tabset {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}
.navgroup dd li.header {
    background-image: none;
}
.navgroup {
    background: none repeat scroll 0 0 #E2E6EA;
    border-right: 1px solid #BDBDCC;
    border-top: 1px solid #CCCCCC;
}
.navgroup:hover {
    background: none repeat scroll 0 0 #CAEDFF;
}
.navgroup dt {
    background: none repeat scroll 0 0 #AABBDD;
    color: #333333;
}
.navgroup dd {
    border-bottom: 1px solid #BDBDCC;
}
#helptext {
    background-color: #FCFCE0;
    margin: 0 0 2px -2px;
}
#helptext:hover {
    background-color: #FFFFC0;
}
#helptext dt {
    background-color: #CCCCAA;
    border-bottom: 1px solid #CCCCCC;
    border-right: 0 none;
}
#helptext dd {
    border-bottom: 1px solid #CCCCCC;
    border-right: 0 none;
}
#communitycol {
    width: 20%;
}
.a td, .a, #rightcol div.siteinfo .a {
    background: none repeat scroll 0 0 #F9F9F9;
}
.b td, .b, #rightcol div.siteinfo .b {
    background: none repeat scroll 0 0 #EDEDEF;
}
table td.c, .c {
    background: none repeat scroll 0 0 #BBBBBB;
}
.d td, .d {
    background: none repeat scroll 0 0 #FDFD99;
}
th, .axial th {
    background-color: #DDDDDD;
    color: black;
}
.a:hover td, .a:hover, #rightcol div.siteinfo .a:hover, .b:hover td, .b:hover, #rightcol div.siteinfo .b:hover, .hilight {
    background-color: #CAEDFF;
}
.selectedrow {
    background-color: #DFD9CB;
}
.preselectedrow {
    background-color: #EFE9DB;
}
body .grid td {
    background-color: transparent;
    border-left: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}
.legend th, .bars th {
    background-color: #FFFFFF;
}
h1 em {
    color: #555555;
}
.h3 h3 {
    background-color: #D4E4B4;
}
.h4 h4 {
    background-color: #CCCCCC;
}
.h2 h2 {
    background-color: #AACC88;
    border-top: 1px solid #669933;
    color: #000000;
}
h3 {
    color: #000000;
}
.heading-right {
    float: right;
    margin: 0 5px;
}
.heading-count {
    font-weight: normal;
}
#toptabs th {
    background-color: #E0E4E8;
}
#toptabs {
    background-color: #223344;
    border-bottom: 6px solid #E0E4E8;
}
#banner {
    background-color: #223344;
}
body, h1, h2, h3, h4, h5, h6, p, td, table td, input, select {
    font-family: "Lucida Grande",Verdana,Arial,Helvetica,sans-serif !important;
}
code, pre {
    font-family: 'Andale Mono',Courier,monospace;
}
.zwsp {
    font-family: "Lucida Sans Unicode","Arial Unicode MS","Lucida Grande",Verdana,Arial,Helvetica,sans-serif !important;
}
.pws {
    font-family: 'Andale Mono',Courier,monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}
body {
    font-size: 0.7em;
}
pre, code {
    font-size: 1.15em;
}
#bodycol, #bodycol table td, #bodycol table th {
    font-size: 100%;
    line-height: 135%;
}
#bodycol table table td, #bodycol table table th {
    font-size: 100%;
}
input {
    line-height: 100%;
}
h1 {
    font-size: large;
    font-weight: normal;
}
h2, h3, h4, h1 small, #rightcol h2 {
    font-size: small;
}
h2 {
    font-size: 1.25em;
}
h3 {
    font-size: 1.1em;
}
h4 {
    font-size: 1em;
}
li.selection ul {
    font-weight: normal;
}
small, .small, div#footer, #login, .tabs th, .tabs td, #toptabs th, #toptabs td, #bodycol .tabs th, #bodycol .tabs td, #navcol, input, select, .pagination, .functnbar, .functnbar2, .functnbar3, .functnbar4, #breadcrumbs, #topmodule, toolbreadcrumbs, .courtesylinks, .colbar, .tasknav, #sidebar, .legend, .bars, #rightcol div.www, #rightcol div.siteinfo, .expandwidget, .collapsewidget, #additemlink {
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
    font-size: x-small;
}
.tabs td, .tabs th, #toptabs th, #toptabs td, .tasknav .selfref, #login .username, .selection, .functnbar4 a, fieldset legend, .cumulative td, .rollupactivity td, #today, #selectedDate {
    font-weight: bold;
}
.tabs td, .tabs th {
    white-space: nowrap;
}
h1 em {
    font-style: normal;
}
table {
    font-size: 1em;
}
del {
    text-decoration: line-through;
}
.tabs a, #toptabs a {
    text-decoration: none;
}
#toptabs a:hover {
    text-decoration: underline;
}
caption {
    font-size: x-small;
}
caption em {
    font-weight: bold;
}
.tip {
    font-size: smaller;
    font-style: italic;
    font-weight: normal;
}
a:visited, #bodycol a:visited {
    color: #8877AA;
    text-decoration: none;
}
a:link, #navcol a:link, #navcol a:visited, #bodycol a:link, #breadcrumbs a:visited {
    color: #0066CC;
    text-decoration: none;
}
.tasknav a:link, .tasknav a:visited, .pagination a:visited {
    color: #0066CC !important;
    text-decoration: none;
}
a:hover, a:active, #navcol a:hover, #navcol a:active, #bodycol a:hover, #bodycol a:active, .tasknav a:hover, .tasknav a:active {
    text-decoration: underline;
}
a.selfref:link, a.selfref:visited {
    color: #333344 !important;
    text-decoration: none;
}
a:active, a:hover, #navcol a:active, #navcol a:hover {
    color: #FF3300 !important;
}
.functnbar4 a, .functnbar4 a:link, .functnbar4 a:visited {
    color: #FFFFFF !important;
}
#navcol a, #breadcrumbs a {
    text-decoration: none;
}
.h2 h2 a:link, .h2 h2 a:visited {
    color: #000000 !important;
    text-decoration: underline;
}
.h2 h2 .heading-right a:link, .h2 h2 .heading-right a:visited {
    color: #556644 !important;
    font-weight: normal;
}
.h3 h3 .heading-right a:link, .h3 h3 .heading-right a:visited {
    color: #6A725A !important;
    font-weight: normal;
}
#toptabs td a:link, #toptabs td a:visited {
    color: #99CCFF !important;
}
.tabs th, .tabs th a:link, .tabs th a:visited, #toptabs th, #toptabs th a:link, #toptabs th a:visited {
    color: #555555 !important;
}
.tabs td, .tabs td a:link, .tabs td a:visited {
    color: #222222 !important;
}
#login a {
    color: #99CCFF;
}
#bodycol h1 {
    margin-bottom: 0.5em;
    margin-top: 0.6em;
}
.h2 {
    margin-top: 1.47em;
}
h2 {
    margin: 4px 1px;
    padding: 2px 0 4px 3px;
}
.h3, .h4 {
    margin: 0.5em 0 0;
    padding: 6px 0 0;
}
.h3 h3, .h4 h4 {
    margin: 4px 1px;
    padding: 1px 0 2px 3px;
}
h2, h3, h4 {
    clear: both;
}
.h2 {
    clear: both;
}
.h2 h2 + table {
    margin-top: -4px;
}
.h3 h3 + .h4 h4 {
    margin-top: -3px;
}
.h3 h3 + table {
    margin-top: -3px;
}
.h2 h2 + .h3 {
    margin-top: -1em;
}
* html h3 {
    margin-top: 0;
}
.functnbar {
    background-image: url("../images/nw_maj_rond.gif");
    background-repeat: no-repeat;
}
.functnbar, .functnbar2 {
    background-color: #AAAAAA;
}
.functnbar2 {
    background-image: url("../images/sw_maj_rond.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
}
.functnbar3 {
    background-color: #DDDDDD;
    background-image: url("../images/sw_maj_rond.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
}
.functnbar4 {
    background-color: #888888;
}
.tabset .functnbar {
    background-image: url("../images/nw_maj_rond_ts.gif");
}
.tabset .functnbar2, .tabset .functnbar3 {
    background-image: url("../images/sw_maj_rond_ts.gif");
}
.functnbar, .functnbar2, .functnbar3, .functnbar4 {
    clear: both;
    margin: 0.4em 2px 0.5em;
    padding: 4px 1em 5px;
}
.functnbar3 {
    margin-top: 0;
    padding: 2px 1em 3px;
}
.functnbar4 {
    margin: 1px 2px 0;
    white-space: nowrap;
}
.functnbar5 {
    margin: 0.4em 2px 0 0;
    padding: 4px 1em 2px 0;
}
.functnbar4 a {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.pagination {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #222222;
}
.pagination {
    clear: both;
    white-space: nowrap;
}
.pagination {
    margin: 0.4em 2px 1em;
    padding: 3px 3px 4px;
}
.gobutton {
    margin-right: 10px;
}
.paginate_arrows {
    margin-bottom: -3px;
}
#login {
    float: right;
    margin-top: 1px;
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;
}
.colbar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #EEEEEE;
    border-color: #AAAAAA #EEEEEE #EEEEEE #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    margin: 1px 2px 2px;
    padding: 2px;
}
#breadcrumbs {
    background-color: #E0E4E8;
    padding: 1px 10px 4px;
}
.alt, .hide {
    display: none;
}
.inline {
    display: inline;
}
fieldset {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 3px;
    width: 100%;
}
.fieldset {
    padding: 0.67em;
}
.filebrowse .leafnode, .filebrowse-alt .leafnode {
    background-image: url("../images/icon_folder_sml.gif");
    background-repeat: no-repeat;
}
.filebrowse .leaf, .filebrowse-alt .leaf {
    background-image: url("../images/icon_doc_sml.gif");
    background-repeat: no-repeat;
}
.sortup {
    background: url("../images/icon_sortup.gif") no-repeat scroll 0 0 transparent;
}
.sortdown {
    background: url("../images/icon_sortdown.gif") no-repeat scroll 0 0 transparent;
}
a.sortdown, a.sortup, a.expanded, a.collapsed, a.leaf, a.leafnode {
    border: medium none;
}
.collapsewidget {
    background: none repeat scroll 0 0 #EFEFEF;
}
.expandwidget {
    margin-top: 2px;
    padding-left: 3px;
    padding-top: 2px;
}
.collapsewidget a {
    background: url("../images/button-close.gif") no-repeat scroll left top transparent;
    padding-left: 14px;
}
.collapsewidget a:hover {
    background: url("../images/button-close-over.gif") no-repeat scroll left top transparent;
}
.expandwidget a {
    background: url("../images/button-open.gif") no-repeat scroll left top transparent;
    padding-left: 14px;
}
.expandwidget a:hover {
    background: url("../images/button-open-over.gif") no-repeat scroll left top transparent;
}
.addwidget a {
    background: url("../images/button-add.gif") no-repeat scroll left top transparent;
    padding-left: 14px;
}
.removewidget a {
    background: url("../images/button-remove.gif") no-repeat scroll left top transparent;
    padding-left: 14px;
}
.docinfo {
    background: url("../images/icon_doc_lrg.gif") no-repeat scroll 0 0 transparent;
}
.dirinfo {
    background: url("../images/icon_folder_lrg.gif") no-repeat scroll 0 0 transparent;
}
.docinfo, .dirinfo {
    margin: 0.67em 0;
    min-height: 32px;
    padding: 0.33em 0 0.67em 42px;
}
.helplink {
    cursor: help;
}
.feedicon {
    background: url("../images/feedicon14.png") no-repeat scroll 0 0 transparent;
    border-bottom: medium none;
    display: block;
    float: right;
    height: 14px;
    vertical-align: top;
    width: 14px;
}
#topmodule, #toolbreadcrumbs {
    background-color: #E1E1E1;
    border-bottom: 1px solid #BBBBBB;
    border-top: 1px solid #FFFFFF;
    margin: -1px -2px 0 -4px;
}
#toolbreadcrumbs {
    padding: 1px 16px 2px;
}
#toolbreadcrumbs a {
    text-decoration: none;
}
#topmodule #projectname {
    border-right: 2px solid #AAAAAA;
}
#topmodule #issueid {
    border-right: 1px solid #AAAAAA;
}
#topmodule td {
    padding: 2px 8px;
    vertical-align: middle;
}
#topmodule {
    padding: 0 4px;
}
#topmodule p {
    margin: 0;
    padding: 5px 10px 3px;
}
.vcblame {
    background-color: #CCCCCC;
}
.vcblame td {
    border-bottom: 1px dotted #CCCCCC;
    white-space: pre;
}
.vcblamecell {
    padding-right: 2em;
    text-align: right;
}
.vcblametexta, .vcblametextb {
    border-left: 1px solid black;
    text-align: left;
}
.vcblametexta {
    background-color: #FFFFFF !important;
}
.vcblametextb {
    background-color: #FFFFFF !important;
}
.vcdiff {
    background-color: #FFFFFF;
}
.vcdiff td {
    white-space: pre;
}
.vcdiffadd {
    background-color: #99FF99;
}
.vcdiffremove {
    background-color: #FF9999;
}
.vcdiffchanges1 {
    background-color: #FFFF77;
    color: #888888;
}
.vcdiffchanges2 {
    background-color: #FFFF00;
}
.vcmarkup-comment {
    color: #AC2020;
    font-style: italic;
}
.vcmarkup-function-name {
    color: #404040;
}
.vcmarkup-variable-name {
    color: #208920;
}
.vcmarkup-keyword {
    color: #9C20EE;
    font-weight: bold;
}
.vcmarkup-reference {
    color: #222222;
}
.vcmarkup-string {
    color: #BD8D8B;
}
.vcmarkup-builtin {
    color: #9C20EE;
    font-weight: bold;
}
.vcmarkup-type {
    color: #208920;
}
.vcmarkup-highlight {
    background-color: yellow;
}
.moveTarget {
    color: #000000;
    cursor: pointer;
}
.moveTarget-disabled {
    color: #999999;
}
#rightcol div.siteinfo div {
    padding: 1px 2px 1px 3px;
}
#rightcol div.siteinfo h2 {
    background-color: #AABBDD;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0.5em;
    padding: 3px;
}
#rightcol div.www h3, #rightcol div.help h3 {
    background-color: #DDDDDD;
    font-size: 1em;
    font-weight: normal;
    margin-top: 0;
    padding: 3px;
}
#rightcol div.www p, #rightcol div.help p {
    padding: 1px 3px;
}
#rightcol div.www ul, #rightcol div.help ul {
    padding-left: 2em;
}
.band1 {
    background-color: #666633;
    color: #FFFFFF;
}
.band2 {
    background-color: #6666CC;
    color: #FFFFFF;
}
.band3 {
    background-color: #CC9999;
}
.band4 {
    background-color: #CCFFFF;
}
.band5 {
    background-color: #333366;
    color: #FFFFFF;
}
.band6 {
    background-color: #996666;
    color: #FFFFFF;
}
.band7 {
    background-color: #99CCCC;
}
.band8 {
    background-color: #FFFFCC;
}
.band9 {
    background-color: #663333;
    color: #FFFFFF;
}
.band10 {
    background-color: #669999;
    color: #FFFFFF;
}
.band11 {
    background-color: #CCCC99;
}
.band12 {
    background-color: #CCCCFF;
}
.band13 {
    background-color: #336666;
    color: #FFFFFF;
}
.band14 {
    background-color: #999966;
    color: #FFFFFF;
}
.band15 {
    background-color: #9999CC;
}
.band16 {
    background-color: #FFCCCC;
}
.red {
    color: #FF0000;
}
.green {
    color: #006600;
}
.blue {
    color: #003366;
}
.purple {
    color: #333399;
}
.tip {
    color: #333333;
    margin-bottom: 4px;
    margin-top: 3px;
}
p.attrdesc {
    margin-left: 0;
}
.tiptexttoggle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #C0CFDB;
    border-color: -moz-use-text-color #8899CC #8899CC -moz-use-text-color;
    border-image: none;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    color: #444444;
    margin: -3px 1px 0;
    padding: 2px 5px;
}
.tiptexttoggle input {
    color: #444444;
    font-size: 0.9em;
}
#helpbox {
    background-color: #FEFEE6;
    border-color: #DDDDDD #888888 #888888 #DDDDDD;
    border-right: 1px solid #888888;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1em;
    padding: 6px 11px 1em 6px;
}
#helpbox p {
    margin-left: 5px;
}
.th-heading {
    padding: 2px 2px 7px;
}
.leftpadding-medium {
    padding-left: 14px;
}
form {
    margin: 0;
}
ol ol {
    list-style-type: lower-alpha;
}
ol ol ol {
    list-style-type: lower-roman;
}
.tasknav {
    margin-bottom: 1.33em;
}
div.a, div.b {
    margin: 2px 0;
    padding: 3px;
}
.right {
    text-align: right !important;
}
.center {
    text-align: center !important;
}
body .stb {
    margin-top: 1em;
    text-indent: 0;
}
body .mtb {
    margin-top: 2em;
    text-indent: 0;
}
.courtesylinks {
    margin-top: 1em;
    padding-top: 1em;
}
dd {
    margin-bottom: 0.67em;
}
.tier1 {
	white-space: nowrap;
	overflow: hidden;
    margin-left: 0;
}
.tier2 {
	white-space: nowrap;
	overflow: hidden;
    margin-left: 1.5em;
}
.tier3 {
	white-space: nowrap;
	overflow: hidden;		
    margin-left: 3em;
}
.tier4 {
    margin-left: 4.5em;
}
.tier5 {
    margin-left: 6em;
}
.tier6 {
    margin-left: 7.5em;
}
.tier7 {
    margin-left: 9em;
}
.tier8 {
    margin-left: 10.5em;
}
.tier9 {
    margin-left: 12em;
}
.tier10 {
    margin-left: 13.5em;
}
.filebrowse .expanded, .filebrowse .collapsed {
    padding-left: 18px;
}
.filebrowse .leafnode, .filebrowse .leaf {
    padding-left: 20px;
}
.filebrowse-alt .expanded, .filebrowse-alt .collapsed, .filebrowse-alt .leaf, .filebrowse-alt .leafnode, .sortup, .sortdown {
    display: inline-block;
    float: left;
    height: 15px;
    padding-left: 0 !important;
    width: 18px;
}
.filebrowse-alt .leaf, .filebrowse-alt .leafnode, .sortup, .sortdown {
    width: 20px;
}
.filebrowse ul, .filebrowse-alt ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
.filebrowse ul ul, .filebrowse-alt ul ul {
    margin-left: 1.5em;
    margin-top: 0;
    padding-top: 0.67em;
}
.filebrowse li, .filebrowse-alt li {
    margin-bottom: 0.67em;
}
td.filebrowse h3 {
    margin-top: 0;
}
#footer {
    background: url("../images/dotted_line.gif") repeat-x scroll left top transparent;
    margin: 1em 12px 1.5em 10px;
    padding-top: 1em;
}
.selectiongroup {
    padding-left: 1.5em;
}
.selectiongroup2 {
    padding-left: 2em;
}
.inputgroup2 {
    padding-left: 3em;
}
.inputgroup3 {
    white-space: nowrap;
}
.inputstack {
    margin-bottom: 4px;
    margin-top: 3px;
    white-space: nowrap;
}
.removedbox {
    float: left;
    margin-right: 10px;
}
.nowrap {
    white-space: nowrap;
}
.floatright {
    float: right;
}
.floatleft {
    float: left;
}
div.strut7 {
    width: 7em;
}
div.strut8 {
    width: 8em;
}
div.strut13 {
    width: 13em;
}
div.strut14 {
    width: 14em;
}
.strut15 {
    width: 15em;
}
.printbreak {
    border-top: 2px solid #000000;
    margin-top: 20px;
}
div.printbreak {
    page-break-after: always !important;
}
.messagechild {
    padding-left: 34px;
}
body.composite #termsofservice, body.composite #privacypolicy {
    border: 1px solid #AAAAAA;
    display: block;
    height: 400px;
    margin-top: 10px;
    overflow: auto;
    padding: 5px 10px;
    width: 95%;
}
#additemlink {
    margin-top: 2px;
    padding-left: 3px;
    padding-top: 2px;
}
.additembox {
    background: none repeat scroll 0 0 #EFEFEF;
    padding: 5px 3px;
}
.additembox-expanded {
    padding-left: 14px;
}
.sequenceicons {
    margin: 0 4px 0 0;
}
#toptabs {
    margin: 0;
    padding-top: 0.1em;
}
#toptabs table {
    margin-left: 8px;
    margin-right: 1em;
    margin-top: 0;
    padding-left: 8px;
}
:first-child + html #toptabs {
    padding-left: 16px;
}
.h2 .h3 .tabs, .h2 .h4 .tabs {
    margin-left: 1.75em;
}
table.tabs {
    margin-top: 5px;
}
h2 + table.tabs {
    margin-top: 0.5em;
}
#toptabs .tabs td, #toptabs .tabs th {
    padding: 3px 9px;
}
#toptabs th, #toptabs td {
    padding: 2px 9px 3px;
}
.tabset, .tabset .tabset {
    padding: 0.67em;
}
.navgroup dd li.header {
    margin-top: 4px;
}
.navgroup li {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
}
.navgroup, .navgroup dt, .navgroup dd, .navgroup ul, .navgroup li {
    margin: 0;
    padding: 0;
}
.navgroup li {
    display: block;
}
.navgroup {
    margin-bottom: 1px;
}
.navgroup dd {
    padding: 4px 4px 4px 0;
}
.navgroup dt {
    padding: 4px 4px 4px 10px;
}
.navgroup dl dt {
    padding-bottom: 0;
    padding-left: 0 !important;
    padding-right: 0;
    padding-top: 0;
}
.navgroup dd li, .navgroup dd div {
    padding-bottom: 0.3em;
    padding-left: 1em;
}
.navgroup dd li li {
    margin-top: 0.3em;
    padding-bottom: 0;
}
#navcol, #navcol .strut {
    width: 15em;
}
#mytools, #projecttools, #admintools, #communitytools, #almleftnav, #searchbox {
    margin: 0 0 2px -2px;
    padding: 0;
}
th, td {
    padding: 1px 2px;
}
th, td {
    text-align: left;
    vertical-align: top;
}
.axial th, .axial th .strut {
    text-align: right;
}
.axial td th {
    text-align: left;
}
table.axial th, table.axial th .strut {
    width: 13em;
}
.legend th, .bars th {
    padding-left: 1em;
    text-align: right;
}
.bars th {
    width: 12em;
}
caption {
    text-align: left;
}
.actioncol {
    width: 10em;
}
.errormessage, .warningmessage, .donemessage, .infomessage {
    background: url("../images/icon_error_lrg.gif") no-repeat scroll 5px 1.33em transparent;
    border-left: 1px solid #990000;
    border-top: 5px solid #990000;
    margin: 0.67em 0;
    min-height: 32px;
    padding: 0.33em 0 0.67em 42px;
}
.errormessage {
    background-color: #FFF5F1;
}
.warningmessage {
    background-color: #FDF7F1;
    background-image: url("../images/icon_warning_lrg.gif");
    border-color: #CC6600;
}
.donemessage {
    background-color: #F8FFF4;
    background-image: url("../images/icon_success_lrg.gif");
    border-color: #009900;
}
.infomessage {
    background-color: #E7F3FE;
    background-image: url("../images/icon_info_lrg.gif");
    border-color: #336699;
}
.errormark, .warningmark, .donemark, .infomark {
    background: url("../images/icon_error_sml.gif") no-repeat scroll 0 0 transparent;
    min-height: 15px;
    padding-left: 20px;
}
.warningmark {
    background-image: url("../images/icon_warning_sml.gif");
}
.donemark {
    background-image: url("../images/icon_success_sml.gif");
}
.infomark {
    background-image: url("../images/icon_info_sml.gif");
}
.calendarbody {
    margin: 17px;
}
.calendarweek {
    background-color: #CCCCCC;
}
.calendarweeklabel {
    background-color: #AAAAAA;
    padding-bottom: 7px;
    text-align: center;
}
.calendardays, calendarperiod {
    border: 1px solid #999999;
}
.calendardays table, .calendarperiod table {
    background-color: #CCCCCC;
}
.calendarmonths {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #99BBFF;
    border-color: #CCCCFF #6699CC #6699CC #CCCCFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.calendartoday {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #EEEE99;
    border-color: #999999 #777777 #6699CC #AAAAAA;
    border-image: none;
    border-style: solid;
    border-width: 1px;
}
.calendartoday, .calendarmonths {
    padding: 0 2px 0 3px;
}
.periodax {
    background-color: #99CCCC;
}
.periodbx {
    background-color: #AACC99;
}
.currentperiod, #today {
    background-color: #EEEE99;
}
.othermonthday, .othermonthday a {
    background-color: #DDDDDD;
    color: #888888;
}
.calendarday {
    background-color: #FFFFFF;
}
#selectedDate {
    background-color: #99EE55;
}
.periodax, .periodbx, .currentperiod {
    border-bottom: 1px solid #EEEEEE;
}
.periodax, .periodbx, .currentperiod, .calendarday {
    text-align: right;
}
.periodax, .periodbx, .currentperiod, .othermonthday, .othermonthday a, .calendarday {
    padding-bottom: 7px;
}
#projectperformance {
    padding: 10px;
}
.effort {
    margin-left: 50px;
}
.effortbar1, .effortbar2 {
    position: absolute;
}
.dashboardchart {
    margin: 2px 2px 0;
    padding: 5px;
    text-align: center;
}
.statusnotstarted, .statusontrack, .statuscaution, .statusslip, .statusended {
    height: 10px;
    white-space: nowrap;
    width: 50px;
}
.indenttable th .strut {
    width: 16em;
}
.cumulative td, .subtotal {
    background-color: #BBBBBB;
}
.rollupactivity td {
    background-color: #DDDDDD;
}
.effortbar1 {
    background-color: #7799FF;
}
.effortbar2 {
    background-color: #AAAAAA;
}
.dashboardchart {
    background-color: #DDDDDD;
}
table td.statusnotstarted, .statusnotstarted {
    background: none repeat scroll 0 0 #CCCCAA;
}
table td.statusontrack, .statusontrack {
    background: none repeat scroll 0 0 #66CC66;
}
table td.statuscaution, .statuscaution {
    background: none repeat scroll 0 0 #FFCC66;
}
table td.statusalert, .statusalert {
    background: none repeat scroll 0 0 #FF3300;
}
table td.statusended, .statusended {
    background: none repeat scroll 0 0 #CCCCCC;
}
.reportlet {
    clear: both;
    min-width: 620px;
    width: 100%;
}
.reportlet .tabset {
    float: left;
    width: 98%;
}
.reportlet-a, .reportlet-b {
    border: 1px solid #999988;
    min-width: 300px;
    width: 49%;
}
.reportlet-a {
    float: left;
}
.reportlet-b {
    float: right;
    position: relative;
}
* html .reportlet-b {
    position: fixed;
}
.reportlet-single {
    border: 1px solid #999988;
    min-width: 600px;
    width: 100%;
}
.reportlet-footer {
    margin: 0;
    padding-bottom: 3px;
    text-align: center;
}
.reportlet p {
    margin: 0;
}
.report-title, .reportlet-title {
    background-color: #CCCCC1;
    font-weight: bold;
    text-align: center;
}
h2.report-title {
    font-size: 1.4em;
    margin-bottom: 0.25em;
    margin-top: 1em;
    padding: 4px 5px 9px;
}
h4.reportlet-title {
    border-style: none;
    font-size: 1.1em;
    margin: 0;
    padding: 3px 3px 4px;
}
.metricchart {
    margin: 6px auto;
    text-align: center;
}
.metricchart img {
    border: 1px solid #DDDDDD;
}
.reportletchart {
    margin: 3px auto;
    text-align: center;
}
#report-links {
    margin: 0 5px 2px;
    text-align: right;
}
#report-export {
    float: right;
    margin-left: 3em;
}
#report-sequence {
    margin-bottom: 1em;
}
#report-sequence table {
    background-color: #CCCCCC;
    border-spacing: 0;
    width: 100%;
}
#report-sequence table td, #report-sequence table th {
    width: 25%;
}
#report-sequence table th {
    background-color: #CCEEFF;
    font-weight: bold;
}
#tracker-ocn {
    color: #444444;
    font-size: x-small;
    padding: 3px;
}
td.sequence-known, td.sequence-previous {
    background-color: #AACCEE;
    color: #333333;
}
td.sequence-unknown {
    background-color: inherit;
    color: #333333;
}
td.sequence-next {
    background-color: inherit;
    color: #333333;
}
#report-sequence td, #report-sequence th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    padding: 4px 5px;
}
.select-medium {
    margin: 3px 0;
    min-width: 13em;
}
#statename-display {
    font-weight: bold;
}
.btnTop {
    vertical-align: top;
}
#footer p {
    color: #555555;
    margin-top: 3px;
}
.tabs td {
    background: url("../images/gradient_dark.gif") repeat-x scroll 0 0 #898989;
    border-right: 1px solid #FFFFFF;
}
.tabs th {
    background: url("../images/gradient_light.gif") repeat-x scroll 0 0 #EFEFEF !important;
    border-right: 1px solid #FFFFFF;
}
.tabs th, .tabs td {
    padding: 3px 20px;
}
.tabs td:hover {
    background: none repeat scroll 0 0 #C6C6C6;
}
.tabs th a, .tabs td a {
    margin: 0 -20px;
    padding: 3px 20px;
}
.tabset table.tabs {
    background: url("../images/gradient_light.gif") repeat-x scroll 0 0 #EFEFEF !important;
    border-left: 1px solid #CCCCCC;
}
#broadcastmsg {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ECF4FE;
    background-position: 3px 6px;
    border-color: #AAAAAA #999999;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    margin: 0.75em 0;
}
#ownermessage {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/icon_info_lrg.gif") no-repeat scroll 5px 5px #E7F3FE;
    border-color: #336699;
    border-image: none;
    border-right: 1px solid #336699;
    border-style: solid;
    border-width: 5px 1px 1px;
    margin: 0.67em 0 1.5em;
    min-height: 32px;
    padding: 0.33em 0 0.67em 42px;
}
#ownermessage h2 {
    background-color: transparent;
    border: medium none;
    margin: 3px 0 5px;
    padding: 0;
}
.recentpost {
    background: url("../images/icon_new_sm.png") no-repeat scroll right top transparent;
    padding-right: 14px;
}
.needmod {
    font-weight: bold;
}
.needmod a, .needmod a:visited {
    color: red !important;
}
.moderatorIcon {
    background: url("../images/icon_moderator_sm.png") no-repeat scroll right top transparent;
    padding-right: 14px;
}
.subscribedButton, .notSubscribedButton {
    float: left;
    height: 24px;
    width: 26px;
}
.subscribedButton {
    background: url("../images/discussion_subscribed.png") no-repeat scroll 2px 3px transparent;
}
.notSubscribedButton {
    background: url("../images/discussion_not_subscribed.png") no-repeat scroll 2px 3px transparent;
}
.attachmenticon {
    background: url("../images/icon_attachment.png") no-repeat scroll left top transparent;
    padding-bottom: 2px;
    padding-left: 20px;
}
.indentdiscussion {
    padding-left: 25px;
}
