.border{
	border: 1px solid black
}
.border-top{
	border-top: 1px solid black
}
.border-bottom{
	border-bottom: 1px solid black
}
.border-left{
	border-left: 1px solid black
}
.border-right{
	border-right: 1px solid black
}
.border-no-top{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.border-no-left{
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
.border-no-left-top{
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}


.text-left{
	text-align: left
}
.text-right{
	text-align: right
}
.text-bottom{
	text-align: bottom
}

.lato-inf{
	width: 70
}
.lato-sup{
	width: 120
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 220px;
}

.c_barcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 190px;
}


td.d {font-size: 15px;}
td.d_mto {font-size: 18px; font-weight: bold; color: #c0c0c0;}
td.barcode {font-size: 10px; color: #000000; text-align: center;}

div.note span.title {display: block; font-size: 12px}
div.note span.note_text {font-size: 16px; margin-top: 0px;}

div.nazione {display: block; font-size: 20px; text-align: center; margin-top: 5px;}

div.mto_bar span.barcode {font-size: 10px; text-align: center; margin-left: 40px; color: #c0c0c0;}

table.r1{background-color: #cccccc;}
table.r1 td{padding: 5px;}



div.etic{display: flex; border: 1px dotted black; padding: 0px; width: 900px; height: 530px}
div.left_bar{width: 160px; border-right: 1px dotted grey; padding: 10px;}
div.main_bar{width: 100%; padding: 5px;}
div.etic_image{height: 48%;}
div.footer_bar2{border-top: 1px dotted grey; width: 100%}
div.footer_bar{padding: 2px; display: flex; flex-direction: row; width: 100%}
div.d_forn {font-size: 18px; font-weight: bold; border-top: 1px dotted grey;}
div.mto_bar{padding: 5px; display: flex;  flex-direction: row; width: 100%}
div.mto_bar span.barcode{font-size: 10px; color: #000000; text-align: center;}
div.footer_bar_l{float: left; width: 70%; display: flex; flex-direction: column;}
div.footer_bar_r{width: 30%; border: 1px solid white;  margin-top: 15px;}
table.r1{width: 100%;}
div.pldart{font-weight: bold; font-size: 22px;  display: flex; flex-direction: row; width: 100%}
div.incasso{font-size: 22px;  display: flex; flex-direction: row; width: 100%}

div.c {text-align: center}
div.r {text-align: right}

div.div_table {display: table; width: 100%;}
div.div_tr {display: table-row}
div.div_td {display: table-cell}

div.plart {font-size: 12px}


div.left_bar_barcode {height: 200px; display: block; text-align: center;}
div.left_bar_barcode span.id_collo {text-align: center; font-size: 12px; letter-spacing: 2px;}


div.left_bar_seq_ordine {height: 65px; margin-top: 5px; margin-bottom: 5px;}
div.left_bar_seq_ordine span.title {text-align: center; display: block;}
div.left_bar_seq_ordine span.value {text-align: center; display: block; font-weight: bold; font-size: 50px; letter-spacing: 3px;}

div.left_bar_lotto {height: 50px; background-color: #c0c0c0; color: white;}
div.left_bar_lotto span.title {margin-left: 15px; display: block;}
div.left_bar_lotto span.value {margin-top: 0px; text-align: center; display: block; font-weight: bold; font-size: 30px; padding: 0px;}

div.left_bar_carico {height: 60px; margin-bottom: 10px; margin-top: 2px;}
div.left_bar_carico span.title {display: block; font-weight: bold; margin-left: 15px;}
div.left_bar_carico span.value {text-align: center; display: block; font-weight: bold; font-size: 50px;}

div.left_bar_seq_carico {height: 70; background-color: #606060; color: white; margin-bottom: 5px; padding: 5px;}
div.left_bar_seq_carico span.title {text-align: center; display: block;}
div.left_bar_seq_carico span.value {text-align: center; display: block; font-weight: bold; font-size: 40px;}

div.left_bar_collo {height: 45px; background-color: #606060; color: white;}
div.left_bar_collo span.value {text-align: center; display: block; font-weight: normal; font-size: 18px;}

div.left_bar_ordine {height: 50px; margin-bottom: 5px; margin-top: 0px;}
div.left_bar_ordine span.title {text-align: center; display: block;}
div.left_bar_ordine span.value {text-align: center; display: block; font-weight: normal; font-size: 15px;}

div.footer_bar_r {margin-left: 10px; font-size: 16px; margin-top: 10px;}
div.footer_bar_r div.t_dimensioni{text-align: center; color: #ffffff; font-size: 10px; background-color: #c0c0c0; padding: 0px; margin-top: 0px; margin-bottom: 0px;}
div.footer_bar_r div.dimensioni{font-weight: bold; background-color: #c0c0c0; padding: 5px; margin-top: 0px; margin-bottom: 10px;}
div.footer_bar_r div.controllo_operatore {
		margin-top: 0px; height: 100px; border: 1px solid #c0c0c0;
		font-size: 12px; text-align: center; color: #c0c0c0;}
div.controllo_operatore div.logo{margin-top:5px; margin-left:140px;}
div.controllo_operatore div.data_ora { 
		font-size: 10px; color: #000000; margin-top:5px;}
		
		
/* footer_bar_l */
div.tab_varianti {flex: 1}		



/* per etic_col02 */
div.main_col02 {display: flex; width: 100%}
div.main_col02 div.etic_image {flex: 1 auto}
div.main_col02 div.vard {flex: 0 5cm; display: flex; flex-flow: column; justify-content: flex-end; text-align: center}
div.main_col02 div.vard div.vard_r {font-weight: bold;  font-size: 15px;}
div.main_col02 div.vard div.vard_d {margin-top: 10px}

div.art_rif {text-align: center}
div.art_rif div.value {font-size: 20px; font-weight: bold}
