div.etic{
  display: flex;  
  flex-flow: column;
  width: 135mm; height: 190mm;
  border: 1px dotted grey;
  font-size: 10px;
}

/* We tell all items to be 100% width, via flex-basis */
div.etic > * {
  padding: 0px 4px 0px 4px;
  /*flex: 1 100%; */
}

div.header {display: flex; flex-flow: row; flex: 0 4cm;}
div.header > * {
  padding: 4px 0px 4px 4px;
}

div.footer {flex: 0 4cm; height: 150px;}
div.h_left {flex: 0 3cm; height: 150px;}
div.h_left span.id_collo {margin-left: 8px; font-size: 12px; letter-spacing: 2px;}
div.h_main {flex: 1 100%; display: flex; flex-flow: row wrap;}




/*div.nazione {font-size: 30px; font-weight: bold;}*/
div.h_collo {flex: 1 100%; border-bottom: 1px dotted; grey; height2: 100px; font-size: 17px; font-weight: bold;}
div.h_info_1 {flex: 1; margin-top: 30px; margin-top: 30px;}
div.h_info_2 {/*flex: 0 4.5cm;*/ text-align: center; padding-top: 10px}
div.h_info_3 {flex: 0 1.5cm; text-align: center; display: flex; height: 1cm;}
div.h_info_3 span.nazione {font-size: 16px; font-weight: bold; margin-top: 20px;}


div.tlab {font-size: 10px; padding-bottom: 0px;}
div.t1 {font-size: 15px; margin-bottom: 15px;}


div.t_seq_prod {font-size: 30px; font-weight: bold;}
div.lotto {background-color: #c0c0c0; padding: 10px; color: white; font-weight: bold; width: 150px;}
div.lotto span.value {font-weight: bold; font-size: 15px; padding: 0px;}

div.carico {display: flex; flex_flow: row wrap;}
div.carico_1 {flex: 1; text-align: center; vertical-align: bottom;}
div.carico_1 span.value {font-weight: bold; font-size: 30px; padding: 0px;}
div.carico_2 {flex: 1 auto; font-size: 40px; font-weight: bold; text-align: left;}

div.seq_carico {flex: 0 100px; background-color: #c0c0c0; margin-top: 10px; padding: 3px;}
div.seq_carico .value {font-size: 25px; font-weight: bold;}

div.collo {flex: 0 150px; background-color: #606060; margin-top: 10px; color: white; font-size: 16px; padding: 3px;}

div.body {flex: 1}
div.body table {width: 100%;}
div.body table th {background-color: #c0c0c0; padding: 10px; text-align: left; font-size: 12px}
div.body table td {padding: 3px; padding-bottom: 5px; font-size: 10px}
div.body table td.um {width: 25px;}
div.body table td.nr {width: 25px;}
div.body table td.qty {width: 40px;}
div.body table td.dim {text-align: right; }


.n {text-align: right;}
table td.cc {border-right: 1px dotted grey; border-left: 1px dotted grey;}
tr.header {font-weight: bold; font-size: 18px; color: grey;}
tr.art {padding: 2px;}

div.controllo_operatore {
		float: right; 
		margin-top: 60px; height: 80px; border: 1px solid #c0c0c0;
		font-size: 16px;  color: #c0c0c0;}
div.logo{font-size: 10px; color: #000000; flex_flow: row wrap;}

