body{
	font-family: 'Droid Sans', serif;
	color:#444;
	font-size:1.2em;
	background:url('../images/bg-body.gif');
}
.ad_container{
	margin-bottom:20px;
	height:100px;
	float:right;
}
.container{
	width:90%;
	margin:30px auto;
	padding:25px;
	min-height:400px;
	height:auto;	
	background-color: #FFF;
}

.map {
	display: block;
	width: 95%;
	height: 350px;
	margin: 0 auto;
	-moz-box-shadow: 0px 5px 20px #ccc;
	-webkit-box-shadow: 0px 5px 20px #CCC;
	box-shadow: 0px 5px 20px #CCC;
}
