/* TESTATA */
.image_header{
	width: 120
}
.titoli_header{
	font-size: 10;
	text-align: center;
	border: 1px solid black;
	width: 500
}
.intestazione{
	background-color: #A7A7A7;
	border-top: 1px solid black;
	text-align: center;
	font-size: 10;
	font-weight: bold;
	width: 640
}
.spacer{
	border-top: 1px solid black;
	width: 640
}

/* LOTTI */
.titoli_lotti{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: center;
	font-size: 10;
	font-weight: bold;
	width: 106.5
}
.valori_lotti{
	border-top: 1px solid black;
	text-align: center;
	font-size: 9;
	width: 106.5
}



/* CARICHI */
.titoli_carichi{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: center;
	font-size: 10;
	font-weight: bold;
	width: 106.5
}
.valori_carichi{
	border-top: 1px solid black;
	text-align: center;
	font-size: 9;
	width: 106.5
}



/* ORDNI */
.titoli_cod_cli{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: center;
	font-size: 9;
	font-weight: bold;
	width: 112
}
.titoli_rag_soc{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: center;
	font-size: 9;
	font-weight: bold;
	width: 227
}
.titoli_ordine{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: center;
	font-size: 9;
	font-weight: bold;
	width: 120
}
.titoli_colli{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	font-size: 9;
	font-weight: bold;
	width: 60
}

.valori_cod_cli{
	border-top: 1px solid black;
	text-align: center;
	font-size: 8;
	width: 112
}
.valori_rag_soc{
	border-top: 1px solid black;
	text-align: center;
	font-size: 8;
	width: 227
}
.valori_ordine{
	border-top: 1px solid black;
	text-align: center;
	font-size: 8;
	width: 120
}
.valori_colli{
	border-top: 1px solid black;
	font-size: 8;
	text-align: center;
	width: 60
}



/* RIGHE */
/*
.titoli_docu{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	font-size: 10;
	font-weight: bold;
	width: 140
}
*/
.titoli_righe{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: center;
	font-size: 7;
	font-weight: bold;
	width: 60
}
.titoli_cod_art{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: left;
	font-size: 7;
	font-weight: bold;
	width: 200
}
.titoli_desc_art{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: left;
	font-size: 7;
	font-weight: bold;
	width: 300
}
.titoli_quant{
	background-color: #DAD2D2;
	border-top: 1px solid black;
	text-align: right;
	font-size: 7;
	font-weight: bold;
	width: 80
}
/*
.valori_docu{
	border-top: 1px solid black;
	font-size: 9;
	width: 140
}
*/
.valori_righe{
	border-top: 1px solid black;
	text-align: center;
	font-size: 7;
	width: 70
}
.valori_cod_art{
	border-top: 1px solid black;
	text-align: left;
	font-size: 7;
	width: 200
}
.valori_desc_art{
	border-top: 1px solid black;
	text-align: left;
	font-size: 7;
	width: 290
}
.valori_quant{
	border-top: 1px solid black;
	text-align: right;
	font-size: 7;
	width: 80
}